  <!DOCTYPE>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger"> 
          <%= link_to 'Home', home_index_path %>
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger">
                <%= link_to 'Sobre', about_index_path %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger">
                <%= link_to 'Contato', new_contact_path %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="page-section" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Sobre</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                 <%= image_tag("about/logo-ufop.png", :style=>"width: 47%;border-radius: inherit;", :class=>"rounded-circle img-fluid", :alt=>"") %>
               </div>
               <div class="timeline-panel" style="margin-left: -6%">
                <div class="timeline-heading">
                  <h4>2010-2016</h4>
                  <h4 class="subheading">Graduação em SI/UFOP</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Na graduação participei de projeto de extensão, de organização de evnetos acadêmicos e também trainee na empresa júnior.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <%= image_tag("about/i2s.png", :style=>"width: 100%;border-radius: inherit;",:class=>"rounded-circle img-fluid", :alt=>"") %>
              </div>
              <div class="timeline-panel" style="margin-right: -7%">
                <div class="timeline-heading">
                  <h4>Julho 2013 - 2014</h4>
                  <h4 class="subheading">Estágio na i2S-Insurance Software Solutions, na cidade do Porto/Portugal</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Por 1 ano e 4 meses fiquei alocado na área de QA da empresa, inicialmente na parte de testes funcionais manuais e posteriormente para funcionais automatizados, onde utilizamos Jenkins, DSL, HP, JIRA (para controle de atividades), isso tudo em JAVA</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <%= image_tag("about/stf.png", :style=>"width: 100%;border-radius: inherit;",:class=>"rounded-circle img-fluid", :alt=>"") %>
              </div>
              <div class="timeline-panel" style="margin-left: -6%">
                <div class="timeline-heading">
                  <h4>Abril 2015</h4>
                  <h4 class="subheading">Stefanini IT Solutions</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Iniciei a empresa também na área de QA, teste manuais, elaboração de testes, estudo de software, utilizando o STF para controle de atividades e todo o processo sob a metodologia Ágil. Depois migrei para área de Desenvolvimento, trabalhando com JAVA, mySQL, Jenkins, Git, Angular, atuando mais no back-end</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <%= image_tag("about/fluvip.png", :style=>"width: 100%;border-radius: inherit;", :class=>"rounded-circle img-fluid", :alt=>"") %>
              </div>
              <div class="timeline-panel" style="margin-right: -7%">
                <div class="timeline-heading">
                  <h4>Julho 2018</h4>
                  <h4 class="subheading">Fluvip - The Influencer Marketing Group</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Atualmente trabalho alocado na Spark, que faz parte do grupo Fluvip, atuando no suporte da plataforma tecnologia, e também no desenvolvimento de novas features. Utilizamos Ruby, Rails, PostgreSQL, JS, JQuery, Git, Agile, Trello, Linux, Docker. Responsável pela área de tecnologia/desenvolvimento no Brasil.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Be Part
                  <br>Of Our
                  <br>Story!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
  </html>